.logo{
    width:60%;
    margin:auto;
    text-align: center;
} 

@media(max-width: 1100px){
    .logo{
        width: 65%;
    }
}

@media(max-width: 850px){
    .logo{
        width: 68%;
    }
}

@media(max-width: 650px){
    
    .logo{
        width: 75%;
    }
}
